#form-container {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#submit-user {
  background-color: #000;
  border: 1px solid #000000;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  max-width: 477px;
  width: 140px;
  min-height: 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  vertical-align: middle;

  &:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
}