#form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10rem;
}

#submit-user {
  background-color: #000;
  border: 1px solid #000000;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  min-width: 15rem;
  width: 15rem;
  min-height: 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  vertical-align: middle;
  margin-top: 26px;
  min-height: 4rem;

  &:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
}

