#create-user-form {
  background: url('../assets/p-Great-Divide-Beer-Rainbow_54_990x660.jpg');
  background-size: cover;

  #user-inputs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}



