.form-container {
  @include displayFlex(center, null, center, null);
  height: 100vh;
  width: 100vw;

  form {
    text-align: center;
    width: 500px;
    background: rgba(253, 248, 222, 0.7);
    padding: 50px;

    input, textarea, button {
      border: 2px solid #000000;
      border-radius: 6px;
      font-size: 16px;
    }

    input {
      padding: 0 15px;
      margin-bottom: 25px;
      height: 48px;
      font-weight: 300;

      &:hover {
        cursor: pointer;
      }
    }

    textarea {
      width: 100%;
      resize: none;
      padding: 9px 15px;
      height: 10rem;

      &:focus {
        outline: none;
        border: 2px solid gold;
      }
    }

    button {
      background-color: #000;
      color: #fff;
      display: inline-block;
      font-weight: 600;
      min-width: 12.5rem;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.2s ease;
      vertical-align: middle;
      margin-top: 26px;
      min-height: 3rem;

      &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
      }
    }

    .feedback {
      font-size: 14px;
      height: 25px;
    }

    .form-inputs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .radio-btns-container {
      display: flex;
      justify-content: space-between;

      .radio-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.input-create-resource-dd {
  border: 2px solid #000000;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 25px;
  height: 48px;
  font-weight: 300;
  width: 11.2rem;

}
    #reset {
      background-color: rgba(253, 248, 222, 0);
      border: none;
      color: black;
      margin: 1rem;
      min-height: 3rem;
      text-decoration: underline;

      &:hover {
        color: white;
      }
    }

#form-login-container, #form-part-container {
  background: url('../assets/barrel-bar-at-dusk.jpg');
  background-size: cover;
}

#create-user-form-container, #form-ticket-container {
  background: url('../assets/p-Great-Divide-Beer-Rainbow_54_990x660.jpg');
  background-size: cover;
}

#create-resource-form-container {
  background: url('../assets/resources-form-bg.jpg');
  background-position-y: center;
  background-size: cover;
}

#form-part-container {
  background: url('../assets/parts.jpg');
  background-size: cover;
}

#user-inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#login-inputs-container {
  display: flex;
  flex-direction: column;
}
#create-resource-inputs-container {
  display: flex;
  flex-direction: column;
}

.login-form-bg  {
  background: rgba(253, 248, 222, 0.7);
  width: calc(100% - 3em);
  max-width: 32rem;
}

.resource-form-bg {
  background: rgba(253, 248, 222, 0.7);
  width: calc(100% - 3em);
  max-width: 32rem;
}

#drop-down {
  max-width: 200px;
}

#resource-input-1{
  margin-top: 31px;
}