@import './normalize';
@import './variables';
@import '../components/App/_App.scss';
@import '../components/Dashboard/_Dashboard.scss';
@import '../components/CardContainer/_CardContainer.scss';
@import '../components/Card/_Card.scss';
@import '../components/Nav/Nav';
@import '../components/NotFound/NotFound';
@import '../components/UserLogin/UserLogin';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
