@import './normalize';
@import './variables';
@import '../containers/App/App';
@import '../components/Dashboard/_Dashboard.scss';
@import '../containers/CardContainer/_CardContainer.scss';
@import '../components/Card/_Card.scss';
@import '../containers/Nav/Nav';
@import '../components/NotFound/NotFound';
@import '../containers/UserLogin/UserLogin';
@import '../containers/CreateUser/CreateUser';
@import '../components/TicketForm/TicketForm';
// @import '../components/DynamicForm/DynamicForm';
@import '../components/Loading/Loading';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


*, *:before, *:after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #17222a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
