  
  #form-container {
    @include displayFlex(center, center, center, null);
    position: fixed;
    top: 26%;
    left: 43%;
    margin-top: -50px;
    margin-left: -100px;
  }
  .ticket-form {
    display: grid;
    grid-template-rows: repeat(7, 61px);
    background-color: #fff;
    max-width: 477px;
    max-height: 19rem;
  }
.ticket-input  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

textarea {
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 9px 15px;
  margin: 2rem;
  min-height: 6rem;
  font-size: 18px;
  font-weight: 400;
  min-width: 16rem;
}
// broke this out of above because of strange property behavior
#submit-user {
  border: 2px solid #000;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  max-width: 477px;
  width: 140px;
  min-height: 4rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  vertical-align: middle;
  background-color: #000;
  
  .submit-user:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    
  }
}