
#form-container-ticket {
  background: url('../assets/p-Great-Divide-Beer-Rainbow_54_990x660.jpg');
  background-size: cover;
}

.radio-btns-container {
  display: flex;
  justify-content: space-between;

  .radio-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}