button[type=submit] {
  border: 2px solid #000;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  max-width: 477px;
  width: 140px;
  min-height: 4rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  vertical-align: middle;
  background-color: #000;
}