.header-icon-container {
  @include displayFlex(null, null, center, null);
  border-bottom: 1px #00000026 solid;
  padding-bottom: 10px;
}

.header-icon {
  margin-right: 5px;
}

.low {
  color: yellow;
}
.medium {
  color: orange;
}
.high {
  color: red;
}
.urgent {
  color: purple;
}
.safety {
  color: teal;
}

.card {
  border: 2px solid #d6c4c49e;
  border-radius: 25px;
  margin: 22px 0px 25px -3px;
  min-height: 26rem;
  box-shadow: 0px 5px 7px #2d2b2dc4;
  padding: 10px 35px;
  position: relative;
  overflow: hidden;
  z-index: 10;
  max-width: 18rem;

  header {
    @include displayFlex(space-around, null, null, null)
  }

  p {
    font-family: 'Nunito', sans-serif;
  }

}

.card-notes {
  width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


