.header-icon-container {
  @include displayFlex(null, null, center, null);
  border-bottom: 1px #00000026 solid;
  padding-bottom: 10px;
}

.header-icon-container:last-of-type {
  margin-bottom: 0;
}


header p:nth-child(1) {
  padding-left: 15px;
}

.header-icon {
  margin-right: 5px;
  padding-left: 15px;
}

.card-undefined {
  background: #FDF8DE;
}

.card-low {
  background: #ffe070;
  border: 2px solid #FFCA05;
}
.low-title {
  background: #FFCA05;
  // border: 2px solid #FFCA05;
}
.card-medium {
  background: #F9962B;
  border: 2px solid #F47322;
}
.medium-title {
  background: #F47322;
  // border: 2px solid #F47322;
}
.card-high {
  background-color: #ED6341;
  border: 2px solid #ee3123;
}
.high-title {
  background-color: #ee3123;
  // border: 2px solid #ee3123;
}
.card-urgent {
  background-color: #AE95B2;
  // border: 2px solid ;
}
.urgent-title {
  background-color: #61366F;
  // border: 2px solid #61366F;
}
.card-safety {
  background: #92E1DB;
  // border: 2px solid ;
}
.safety-title {
  background-color: #4DC1AE;
  // border: 2px solid #4DC1AE;
}

.card {
  margin: 30px;
  // border: 1px solid #c8c8c8;
  border-radius: 0px;
  box-shadow: 1px 1px 5px 0 #FDF8DE;


  .title {
    margin: 0;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
    padding: 5px 15px;
    color: #2f2f2f;
  }

  .links-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #17222a;

      &:hover {
        cursor: pointer;
        color: #ee3123;
      }

      label {
        padding-left: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    // background-color: #f4f4f4;
  }
}

.card-notes {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#single-note {
  position: relative;
  top: 5px;
}
#parts {
  text-decoration: none;
  color: #000;
}
