.image-container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 163px;

}

.resources {
  @include displaySection(relative, 250px, #fff, center, cover, -1);
    background: url('../assets/brewry-stills.jpg');
  background-size: contain !important;
  &:after {
    @include afterDisplaySection(absolute, '', 0, 0, 100%, 100%, -1);
  }
}

.tickets {
  @include displaySection(relative, 250px, #fff, center, cover, -1);
  background: url('../assets/tickets_banner.jpg') center center;
  background-size: contain;

  &:after {
    @include afterDisplaySection(absolute, '', 0, 0, 100%, 100%, -1);
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin-top: 11vh;
  color: #111;
}

.create-btn-container {
  display: flex;
  justify-content: center;
}

.create-btn {
  position: fixed;
  bottom: 30px;
  background-color: #ee3123;
  border: 2px solid#FDF8DE;
  padding: 15px;
  color: #FDF8DE;
  font-weight: bold;
  font-size: 25px;

  &:hover {
    cursor: pointer;
    background-color: #FDF8DE;
    border: 2px solid #17222a;
    color: #17222a;
  }
}

@media (max-width: 760px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
 }

 @media (max-width: 614px) {
  .card-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
 }
