.image-container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 163px;
  
  h1 {
    margin: 0;
    padding: 50px 0 0 0;
  }
}

.resources {
  @include displaySection(relative, 100vh, #fff, center, cover, -1);
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://images.pexels.com/photos/159298/gears-cogs-machine-machinery-159298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position-y: -341px;
  background-repeat: no-repeat;

  &:after {
    @include afterDisplaySection(absolute, '', 0, 0, 100%, 100%, -1);
  }
}

.tickets {
  @include displaySection(relative, 100vh, #fff, center, cover, -1);
  background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://images.pexels.com/photos/1043506/pexels-photo-1043506.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-color: #e9e7e7;
  background-position-y: -224px;
  background-repeat: no-repeat;

  &:after {
    @include afterDisplaySection(absolute, '', 0, 0, 100%, 100%, -1);
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  background-color: #fff;
  color: #444;
}

.create-btn-container {
  display: flex;
  justify-content: center;
}

.create-btn {
  position: fixed;
  bottom: 50px;
  background-color: #000000;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 25px;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
  }
}

@media (max-width: 760px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
 }

 @media (max-width: 614px) {
  .card-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
 }