.nav-wrapper {
  @include displayFlex(left, null, center, null);

  .nav-toggle {
    cursor: $nav-cursor;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
}

input[type=checkbox] + label {
  .bar {
    background-color: #000;
    display: block;
    height: 4px;
    transition: all 0.3s;
    margin: 3px;
    width: 36px;
    
    &:hover {
      cursor: $nav-cursor;
    }
  }
  .nav-top {
    transform: rotate(0);
    transform-origin: 18% 0%;
  }
  .nav-middle {
    opacity: 1;
  }
  .nav-bottom{
    transform: rotate(0);
    transform-origin: 20% 129%;
  }
}

input[type=checkbox]:checked + label {
  .bar {
    cursor: $nav-cursor;
  }
  .nav-top {
    transform: rotate(45deg);
    transform-origin: 18% 0%;
  }
  .nav-middle {
    opacity: 0;
  }
  .nav-bottom {
    transform: rotate(-45deg);
    transform-origin: 20% 129%;
  }
}

label {
  padding: 12px;
  
}
// links
#menu {
  @include displayFlex(null, null, null, column);
  background: $nav-background-color;
  font-size: 20px;
  height: 100vh;
  padding: 15px;
  width: 40vw;

  .link1:hover {
    color: yellow;
  }
    a {
      @include displayFlex(null, null, center, null);
      text-decoration: none;
      color: white;
      border-bottom: 2px solid white;
      padding-bottom: 20px;
      padding-top: 15px; 
      font-size: 36px;
      
    }
    .menu-icons {
      padding-right: 19px;
      font-size: 40px;
    }
  }

.mobile-menu {
  position: absolute;
}