.nav {
  @include displayFlex(space-between, center, center, row);
  border-bottom: 1px #00000026 solid;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(0,212,255,1) 82%);
}

.nav-wrapper {
  @include displayFlex(left, null, center, null);

  .nav-toggle {
    cursor: $nav-cursor;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
}

input[type=checkbox] + label {
  .bar {
    background-color: #000;
    display: block;
    height: 4px;
    transition: all 0.3s;
    margin: 3px;
    width: 36px;
    
    &:hover {
      cursor: $nav-cursor;
    }
  }
  .nav-top {
    transform: rotate(0);
    transform-origin: 18% 0%;
  }
  .nav-middle {
    opacity: 1;
  }
  .nav-bottom{
    transform: rotate(0);
    transform-origin: 20% 129%;
  }
}

input[type=checkbox]:checked + label {
  .bar {
    cursor: $nav-cursor;
  }
  .nav-top {
    transform: rotate(45deg);
    transform-origin: 18% 0%;
  }
  .nav-middle {
    opacity: 0;
  }
  .nav-bottom {
    transform: rotate(-45deg);
    transform-origin: 20% 129%;
  }
}

#menu {
  @include displayFlex(null, null, null, column);
  background: $nav-background-color;
  font-size: 20px;
  height: 100vh;
  padding: 15px;
  width: 93vw;

  a {
    @include displayFlex(null, null, center, null);
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    padding-top: 15px; 
    font-size: 36px;
    
  }

  .menu-icons {
    padding-right: 19px;
    font-size: 40px;
  }
}

h3 span {
  font-weight: 400;
  font-size: 18px;
}

.nav-login {
  font-size: 18px;
  margin-right: 12px;
  text-decoration: none;
  color: #fff;

  &:hover {
    border: 2px solid black;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 1;
}

